* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --task-bg: #2a2a2a;
  --task-hover: #444;
  --button-bg: #bb86fc;
  --button-text: black;
  --title-color: #ffffff;
  --task-text-color: #ffffff;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.app-container {
  /* background: #fff; */
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  
  background: #e6f6fd;

  width: 900px;
}

h1 {
  margin-bottom: 16px;
  color: #333;
}

.task-form {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.task-input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
}

.add-button {
  padding: 12px 16px;
  background: #009688;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.kanban-board {
  display: flex;
  gap: 10px;

}

.kanban-column {
  background: #FAFAFA;
  padding: 16px;
  border-radius: 12px;
  flex: 1;
  min-width: 280px;
  min-height: 300px;
}

h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

.task-list {
  list-style: none;
}

.task-item {
  display: flex;
  align-items: center;
  background: #E0F2F1;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  gap: 8px;
  cursor: grab;
  transition: background 0.2s, transform 0.2s;
}

.task-item:hover {
  background: #d7e3fc;
  transform: translateY(-2px);
}

.task-text {
  flex: 1;
}

.task-text.completed {
  text-decoration: line-through;
  color: #999;
}

.delete-button {
  background: #EF5350;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.task-stats {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

h1 {
  color: var(--title-color);
}

.theme-toggle .header {
  color: white;
}

body.dark-mode {
  background-color: #181818;
  color: white;
}
.dark-mode .app-container {
  background: #222;
  color: white;
}
.dark-mode .task-input,
.dark-mode .kanban-column {
  background: #333;
  color: white;
  border-color: #555;
}

.dark-mode .task-item {
  background:#444444;
}

.dark-mode .add-button {
  background: #00796B;
}
.dark-mode .delete-button {
  background: #C62828;
}

.task-textc {
  text-decoration: line-through;
}
